.main{
    padding: 35px;
    padding-left: 50px;

}
.main>img{
    float: right;
    width: 30%;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.main>h1{
    font-size: 25px;
    font-weight: 700;
}